


<div class="col-lg-3 col-md-4 col-10 m-auto ">
  
  <ng-container *ngFor="let error of errorsRegister;index as i" >
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  </ng-container>

<form
  (ngSubmit)="register()"
  #formLogin="ngForm"
  class="bg-dark bg-opacity-50 text-white p-1 border border-4 border-dark rounded text-dark"
>
  <h2 class="fs-3 text-center mb-2 p-1">Registro de usuario</h2>

  <div class="mb-1 col-10 m-auto">
    <label for="email" class="form-label">Nombre de usuario</label>

    <input
      [ngClass]="{'border-2 border-danger':username.errors?.['required'] && username.touched}"
      required
      [(ngModel)]="user.username"
      #username="ngModel"
      type="text"
      class="form-control"
      id="username"
      name="username"
    />
  </div>

  <div class="mb-1 col-10 m-auto">
    <label for="email" class="form-label">Correo</label>
    <input
      required
      [ngClass]="{'border-2 border-danger':email.errors?.['required'] && email.touched}"
      [(ngModel)]="user.email"
      #email="ngModel"
      type="email"
      pattern="[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-]([\.]?[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-])+@[a-zA-Z0-9]([^@&%$\/\(\)=?¿!\.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
    />

    <span
      class="text-danger fs-6"
      *ngIf="email.errors?.['pattern'] && email.touched "
      >*Email invalido</span
    >
  </div>
  <div class="mb-1 col-10 m-auto">
    <label for="password" class="form-label">Contraseña</label>
    <input
      [ngClass]="{'border-2 border-danger':password.errors?.['required'] && password.touched}"
      [(ngModel)]="user.password"
      type="password"
      class="form-control"
      required
      #password="ngModel"
      id="password"
      name="password  "
    />
  </div>

  <button
    [disabled]="formLogin.invalid"
    type="submit"
    class="btn btn-sm btn-primary mt-2 d-block d-block m-auto"
  >
    Enviar
  </button>
</form>

</div>