


<div class="col-lg-3 col-sm-6 col-md-4 col-10 m-auto ">
  
  <ng-container *ngFor="let error of errorsRegister;index as i" >
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  </ng-container>

<form
  (ngSubmit)="register()"
  #formLogin="ngForm"
  class="bg-dark text-white py-2 border border-0 rounded"
>
  <h2 class="fs-3 text-center my-4 p-1">Registro de usuario</h2>

  <div class="col-10 m-auto mb-3 ">
    <label for="username" class="w-100 px-1 form-label" [ngClass]="{'bg-danger px-1':username.errors?.['required'] && username.touched}">
      Nombre de usuario
    </label>

    <input
      required
      [(ngModel)]="user.username"
      #username="ngModel"
      type="text"
      class="form-control"
      id="username"
      name="username"
    />
  </div>

  <div class=" col-10 m-auto mb-3">
    <label for="email" class="w-100 px-1 form-label" [ngClass]="{'bg-danger px-1':email.errors?.['required'] && email.touched}">Correo</label>
    <input
      required
      [(ngModel)]="user.email"
      #email="ngModel"
      type="email"
      pattern="[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-]([\.]?[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-])+@[a-zA-Z0-9]([^@&%$\/\(\)=?¿!\.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
    />

    <span
      class="text-warning px-1 fs-6"
      *ngIf="email.errors?.['pattern'] && email.touched "
      >Email invalido</span
    >
  </div>
  <div class="border-2 col-10 m-auto mb-3">
    <label for="password" class="w-100 px-1 form-label" [ngClass]="{'bg-danger px-1':password.errors?.['required'] && password.touched}">Contraseña</label>
    <input
      [(ngModel)]="user.password"
      type="password"
      class="form-control"
      required
      minlength="6"
      #password="ngModel"
      id="password"
      name="password  "
    />
    <span
    class="text-warning px-1 fs-6"
    *ngIf="password.errors?.['minlength'] && password.touched "
    >Minimo 6 caracteres</span
  >
  </div>

  <button
    [disabled]="formLogin.invalid"
    type="submit"
    class="btn btn-sm btn-primary mt-2 d-block d-block m-auto"
  >
    Enviar
  </button>
</form>

</div>