

<div class="col-lg-3 col-sm-6 col-md-4 col-10 m-auto ">

<form (ngSubmit)="login()" #formLogin="ngForm" class="bg-dark text-white px-0 py-2 border-0 rounded" >
    <h2 class="fs-3 text-center p-2">Ingresar</h2>
    <div class="mb-1 col-10 m-auto mb-4">
      <label for="email"  class="form-label w-100" [ngClass]="{'bg-danger px-1':email.errors?.['required'] && email.touched}">Correo</label>
      <input required  [(ngModel)]="user.email" #email="ngModel" type="email" pattern="[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-]([\.]?[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-])+@[a-zA-Z0-9]([^@&%$\/\(\)=?¿!\.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"  class="form-control" id="email" name="email" aria-describedby="emailHelp">
      
      
    </div>
    <div class="mb-1 col-10 m-auto mb-4">
      <label for="password" class="form-label w-100" [ngClass]="{'bg-danger px-1':password.errors?.['required'] && password.touched}" >Contraseña</label>
      <input  [(ngModel)]="user.password" type="password" class="form-control" required #password="ngModel" id="password" name="password  ">
    </div>
  
    <a class="link-light d-block mb-1 col-10 m-auto mb-4" [routerLink]="['/auth/register']">Registrarme</a>

    <button [disabled]="formLogin.invalid" type="submit" class="btn btn-sm btn-primary mt-2 d-block d-block m-auto">Ingresar</button>
  </form>

</div>