<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center gap-3 mt-5 p-0"
>
  <h1 class="text-white">Bienvenido</h1>
  <p
    class="shadow-one my-0 col-11 col-lg-6 col-md-6 m-auto p-5 rounded bg-dark text-white"
  >
    Hola y bienvenido a este pequeño proyecto el cual te permitira tener un
    registro de usuario y administrar tus tareas. Solo necesitas registrar un correo y una contraseña para
    ingresar. Tus datos quedaran registrados al igual que tus tareas.
    <br />
    Este proyecto es meramente con fines practicos y de aprendizaje.
  </p>
</div>
