
<div [ngClass]="(tarea.fecha | tiempoFaltante) === 'Hoy' ? 'shadow-warning'  : '' " class="card col-auto bg-dark text-light border-0" style="width: 18rem;" >
  
  <ng-container *ngIf="tarea.fecha | tiempoFaltante;else tarea_expirada">
    <span [ngClass]="(tarea.fecha | tiempoFaltante) === 'Hoy' ? 'bg-dark rounded ps-2'  : '' " class="col-sm-4 col-12 bg-success ps-1">{{tarea.fecha | tiempoFaltante}}</span>
  </ng-container>

  <ng-template #tarea_expirada>
    <span class="col-sm-4 col-12 bg-danger  ps-1">Expirada</span>
  </ng-template>
  

    <div class="card-body ">
      <h5 class="card-title">{{tarea.titulo}}</h5>
      <h6 class="card-subtitle text-secondary mb-3">Registrada {{tarea.createdAt | fecha}} </h6>
  

      <span class="text-fluid ps-1" >{{tarea.fecha | fecha}}</span>
      <p class="descripcion bg-dark card-text p-1 text-start shadow shadow-5 ">
      {{tarea.descripcion}}
      </p>

      <div class="row botones  mx-auto  pb-1">
        <a [routerLink]="['/tareas/actualizar-tarea',tarea._id]" class="btn btn-link link-primary col-auto ">Actualizar</a>
        <button (click)="eliminarTarea(tarea)" class="btn btn-link link-danger col-auto  ">Eliminar tarea</button>
      </div>
    </div>
  </div>